.main-cont{
    width: 100vw;
    height: 100%;
    display: flex;
}

.head-foot{
    width: 100%;
}

.Sidebar{
    min-height: 900px;
}
#postlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1.3rem;
}

.card{
    margin-top: 3rem;
    margin-left: 6rem;
    border: 2px solid black;
    box-shadow: 2px 3px 20px 5px black;
}

.card-details{
    padding: 1rem;
    width: 30vw;
    min-width: 20rem;
}
.card-foot{
    display: flex;
    justify-content: center;
}
.tags{
    margin: 1px;
}

.delete-post{
    width: 2rem;
}
.welcome{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    button{
        font-size: 2rem;
    }
}
.userId{
    background-color: azure;
    color: blue;
}